# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Mac system files
.DS_Store

# Logs
*.log

# SQLite database (if any)
*.sqlite3
db.sqlite3

# Model files (optional – agar large ho)
# Uncomment if you DON'T want to push model.pkl
# model.pk
 